
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{ font-family:'poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: 0;
    list-style: none;
    
    
}

body{
    
   background-color:#fff;
   

   
}





#page-container{
    position: relative;
    min-height: 100vh;
}


nav #icone{
    max-width: 150px;
    max-height: 145px;
    width: auto;
    height: auto;
    
}

.navigation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
   
    
    
}

#lista{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    
    
}

div #lata{
    max-width:800px;
    max-height:750px;
    width: auto;
    height: auto;
    transform: rotate(-5deg);
   
    
}


#circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000000c2;
    clip-path: circle(50% at bottom right);
    z-index: -1;
}


section #txt{
    font-size: 15pt;
    max-width: 500px;
    margin-left: 250px;
    
    
}

h1{
    font-size: 80px;
    color: #004B93;
}



nav li a{

    
    color: #004B93;
    font-size: 15pt;
}
nav li:hover{transform: scale(1.1)
;
transition: .2s;
}

#txt{ color: #004B93;}

span{
    color: red;
}

#content{
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
    font-style: italic;
    text-align: center;
  }

  #garrafas img{
    height: 50px;
    width: 50px;
  }

  .opcoes-garrafa img{
    max-width:80px;
    max-height:75px;
    width: auto;
    height: auto;
    margin-top: 50px;
    cursor: pointer;
  }

  #todas-opcoes{
   display: flex;
   flex-direction: row;
   gap: 50px;
   align-items: center;
  }

  .opcoes-garrafa img:hover{

    transform: scale(1.1)
;
transition: .2s;
  }

  footer{
    color: black;
  }
  
  
    
